#GMVisuality-graph-wrapper svg {
  width: 100% !important;
  height: 80vh !important;
  border-top: 3px solid #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
}

#GMVisuality-graph-wrapper text {
  font-family: 'Calibri';
}

#GraphModule .GMFiltersContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

#GraphModule .GMFiltersContainer .GMFTitle {
  font-size: 22px;
  padding: 10px;
}

#GraphModule .GMFiltersContainer .GMFilters {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #929497;
  font-size: 13px;
}

#GraphModule .GMFDataFormBtn {
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}

#GraphModule .GMFiltersContainer .GMFilters > span {
  padding: 10px;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFCheckBlock {
  position: relative;
  width: 20px;
  height: 20px;
  border-width: 5px;
  margin: 0 2px;
  box-sizing: border-box;
  display: inline-block;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFCheckBlock:hover {
  cursor: pointer;
  opacity: 0.8;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFCheckBlock:hover::before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 95;
  top: 25px;
  right: 6px;
  background-color: black;
  transform: rotate(-45deg);
}

#GraphModule .GMFiltersContainer .GMFilters .GMFCheckBlock:hover::after {
  content: attr(data-tooltip);
  color: white;
  position: absolute;
  display: block;
  top: 30px;
  right: -10px;
  z-index: 120;
  white-space: pre;
  padding: 5px;
  background-color: black;
  border-radius: 5px;
}

#GraphModule .GMFiltersContainer .GMFilters input {
  display: none;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenuBtn {
  margin: 0 5px 0 20px;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenuBtn:hover {
  cursor: pointer;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu {
  position: absolute;
  right: 0;
  top: 55px;
  z-index: 95;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu::before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 95;
  top: -6px;
  right: 10px;
  background-color: white;
  transform: rotate(-45deg);
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu label {
  display: flex;
  align-items: center;
  padding: 10px;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu div {
  display: inline-block;
  margin: 0 10px;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu .GMFMCheckBlock {
  width: 20px;
  height: 20px;
  border: 1px solid #929497;
  border-radius: 3px;
  line-height: 20px;
  font-size: 15px;
  flex-shrink: 0;
  text-align: center;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu .GMFMCheckBlock:hover {
  cursor: pointer;
  border-color: #479cd4;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu .GMFMColorStroke {
  width: 20px;
  height: 10px;
  flex-shrink: 0;
  border-bottom: 3px solid black;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu .GMFMFilterDescription {
  font-size: 14px;
  color: #929497;
}

#GraphModule .ADFContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;
  width: 100%;
  height: 100%;
}

#GraphModule .ADFBlackBackground {
  position: absolute;
  z-index: 120;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#GraphModule .AppearDataForm {
  z-index: 130;
  width: 380px;
  padding: 10px;
  border-radius: 20px;
  border: 5px solid rgb(50, 200, 50);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  background-color: white;
}

#GraphModule .AppearDataForm h2 {
  text-align: center;
}

#GraphModule .AppearDataForm input[type='text'],
#GraphModule .AppearDataForm textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

#GraphModule .AppearDataForm input[type='text'],
#GraphModule .AppearDataForm textarea {
  padding: 5px 7px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 2px solid #929497;
  border-radius: 10px;
  outline: none;
}

#GraphModule .AppearDataForm input[type='text']:focus,
#GraphModule .AppearDataForm textarea:focus {
  border-color: rgb(50, 200, 50);
}

#GraphModule .AppearDataForm textarea {
  resize: none;
  height: 100px;
}

#GraphModule .AppearDataForm input[type='submit'] {
  display: block;
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  margin: 20px auto 10px;
  border: none;
  background-color: rgb(50, 150, 50);
  border-radius: 10px;
  outline: none;
  transition: background-color 0.5s;
  cursor: pointer;
}

#GraphModule .AppearDataForm input[type='submit']:hover {
  background-color: rgb(50, 200, 50);
}

#GraphModule .GMAppearBlock {
  position: absolute;
  width: 350px;
  z-index: 100;
  font-family: 'Calibri';
  background-color: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  font-size: 18px;
  border-radius: 10px;
}

#GraphModule .GMAppearBlock::after {
  content: '';
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 90;
  right: -6px;
  top: 26px;
  background-color: white;
  transform: rotate(45deg);
}

#GraphModule .GMADescription {
  padding: 10px;
}

#GraphModule .GMADescription h4 {
  text-align: center;
  margin: 0;
}

#GraphModule .GMADescription p {
  white-space: pre-wrap;
  margin: 5px 0;
}

#GraphModule .GMAControl {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  color: #479cd4;
}

#GraphModule .GMAControl div {
  padding: 10px;
  flex-grow: 1;
  text-align: center;
}

#GraphModule .GMAControl .GMAAppearNodesBtn {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0 0 0 10px;
}

#GraphModule .GMAControl .GMACloseWindow {
  border-radius: 0 0 10px 0;
}

#GraphModule .GMAControl div:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#GraphModule .GMFooter {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #929497;
}

#GraphModule .GMFooter .GMFToDefault {
  font-size: 11px;
  line-height: 11px;
  font-weight: bolder;
  padding: 10px 30px;
  margin: 20px 0;
  flex-shrink: 0;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  background-color: rgb(50, 150, 50);
}

#GraphModule .GMFooter .GMFToDefault:hover {
  background-color: rgb(50, 130, 50);
}

#GraphModule .GMFooter .GMFZoomContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

#GraphModule .GMFooter .GMFZoomContainer .GMFZoomRange {
  height: 8px;
  border-radius: 4px;
  margin: 0 10px;
  min-width: 200px;
  flex-grow: 1;
  background-color: #f2f2f2;
}

#GraphModule .GMFooter .GMFZoomContainer .GMFZFillRange {
  position: relative;
  height: 100%;
  border-radius: 4px 0 0 4px;
  background-color: rgb(50, 150, 50);
}

#GraphModule .GMFooter .GMFZoomContainer .GMFZCurrentPosition {
  position: absolute;
  right: -5px;
  top: -11px;
  z-index: 90;
  padding: 3px;
  background-color: white;
  cursor: pointer;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

#GraphModule .GMFooter .GMFZoomContainer .GMFZCurrentPosition::before {
  content: '';
  display: block;
  background-color: rgb(50, 150, 50);
  width: 5px;
  height: 22px;
}

#GraphModule .GMFooter .GMFZoomContainer .GMFZFullScreen {
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  outline: none;
  margin: 20px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: rgb(50, 150, 50);
  background-position: center;
}

#GraphModule .GMFooter .GMFZoomContainer .GMFZFullScreen:hover {
  background-color: rgb(50, 130, 50);
}
