#GMVisuality-graph-wrapper svg {
  width: 100% !important;
  height: 80vh !important;
  background-color: #f0f0f0;
  border-top: 3px solid #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
}

#GMVisuality-graph-wrapper text {
  font-family: 'Calibri';
}

#GraphModule .GMFiltersContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

#GraphModule .GMFiltersContainer .GMFTitle {
  font-size: 22px;
  padding: 10px;
}

#GraphModule .GMFiltersContainer .GMFilters {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #929497;
  font-size: 13px;
}

#GraphModule .GMFiltersContainer .GMFilters > span {
  padding: 10px;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFCheckBlock {
  width: 20px;
  height: 20px;
  border-width: 5px;
  margin: 0 2px;
  box-sizing: border-box;
  display: inline-block;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFCheckBlock:hover {
  cursor: pointer;
  opacity: 0.8;
}

#GraphModule .GMFiltersContainer .GMFilters input {
  display: none;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenuBtn {
  margin: 0 5px 0 20px;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenuBtn:hover {
  cursor: pointer;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu {
  position: absolute;
  right: 0;
  top: 55px;
  z-index: 95;
  width: 250px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu::before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 95;
  top: -6px;
  right: 10px;
  background-color: white;
  transform: rotate(-45deg);
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu label {
  display: flex;
  align-items: center;
  padding: 10px;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu div {
  display: inline-block;
  margin: 0 10px;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu .GMFMCheckBlock {
  width: 15px;
  height: 15px;
  border: 1px solid #303030;
  border-radius: 3px;
  line-height: 15px;
  font-size: 15px;
  text-align: center;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu .GMFMCheckBlock:hover {
  cursor: pointer;
  border-color: #479cd4;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu .GMFMColorStroke {
  width: 20px;
  height: 10px;
  border-bottom: 3px solid black;
}

#GraphModule .GMFiltersContainer .GMFilters .GMFMenu .GMFMFilterDescription {
  font-size: 14px;
  color: #929497;
}

#GraphModule .GMAppearBlock {
  position: fixed;
  max-width: 250px;
  z-index: 100;
  font-family: 'Calibri';
  background-color: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  font-size: 18px;
  border-radius: 10px;
}

#GraphModule .GMAppearBlock::after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 90;
  right: -6px;
  top: 26px;
  background-color: white;
  transform: rotate(45deg);
}

#GraphModule .GMADescription {
  padding: 10px;
}

#GraphModule .GMAControl {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  color: #479cd4;
}

#GraphModule .GMAControl div {
  padding: 10px;
  flex-grow: 1;
  text-align: center;
}

#GraphModule .GMAControl .GMAAppearNodesBtn {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0 0 0 10px;
}

#GraphModule .GMAControl .GMACloseWindow {
  border-radius: 0 0 10px 0;
}

#GraphModule .GMAControl div:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
